
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
lib-cov
.grunt
.lock-wscript

# Linux
*~
.directory
.Trash-*
.fuse_hidden*

# Project
node_modules
src/
docs/
tests/
webpack.config.js
examples
.*
